body {
  padding-top: 3em; }

.friendships {
  color: #3879D9; }

.for {
  color: #7FD4F9; }

.life {
  color: #3879D9; }

.dotcom {
  color: grey; }

.tagLine {
  padding: 1em 1em 0.5em 1em;
  font-family: papyrus;
  font-size: 1.5em; }

.photostrip {
  box-sizing: border-box;
  width: 100%;
  border: .3em solid #FDDD9B; }

.twistyt {
  box-sizing: border-box;
  width: 100%;
  height: 6em; }

.logo {
  box-sizing: border-box;
  margin-top: -2.2em; }

.logo-text {
  box-sizing: border-box;
  border-radius: 5em;
  margin-left: 33%;
  margin-right: 23%;
  width: 34%; }

.paragraph {
  padding: 2em 2em; }

footer {
  /*line-height: 5em;*/
  text-align: center;
  color: white;
  background-color: #3D3D3A; }

.footer {
  padding: 2em 1em; }

a {
  color: white;
  text-decoration: none; }
