body {
  margin: 0; }

.friendships {
  color: #3879D9; }

.for {
  color: #7FD4F9; }

.life {
  color: #3879D9; }

.dotcom {
  color: grey; }

.tagLine {
  padding: 0.5em;
  font-family: papyrus;
  width: 70%;
  text-align: center;
  margin: 0 auto; }

nav button {
  background-color: grey; }

.photostrip {
  box-sizing: border-box;
  width: 100%;
  border: .3em solid #FDDD9B; }

.twistyt {
  box-sizing: border-box;
  width: 100%;
  height: 6em; }

.logo {
  box-sizing: border-box;
  margin: 0 auto; }

.logo-text {
  box-sizing: border-box;
  border-radius: 5em;
  margin-top: -1.8em;
  width: 70%;
  margin-left: 15%; }

.learnServe {
  background-color: white; }

.ican {
  font-size: 1.8em;
  color: red;
  padding-top: 0.5em;
  text-align: center;
  font-family: cursive; }

.textblock {
  text-align: center;
  font-family: futura;
  padding-top: 0.5em;
  height: 12em; }

.van {
  padding: 2em 2em;
  margin-top: 3em;
  margin-bottom: 2em; }

.uvan {
  padding: 4% 2em;
  text-align: center;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
  font-size: 0.9em; }

.fut {
  background: linear-gradient(to bottom, white, #E6DB74);
  padding-bottom: 3em;
  padding-top: 1em; }

.future {
  text-align: center;
  font-family: Lucida Sans;
  font-size: 2.5em; }

.textBlo {
  background-image: url("../images/Tigerpaw.jpg");
  background-size: cover; }
  .textBlo .paragraph {
    background-color: rgba(0, 0, 0, 0.6);
    width: 80%;
    font-size: 1.4em;
    margin: 0 auto 2em auto;
    padding: 1em 2em;
    color: white;
    border-radius: 1em; }

.galMain {
  height: 50em;
  text-align: center;
  background: linear-gradient(to bottom, white, #7FD4F9);
  padding: 2em 0 4em 0; }

.slideshow {
  padding-top: 1em;
  width: 95%;
  margin: 0 auto; }

.item img {
  margin: 0 auto;
  width: 100%; }

.mapInfo {
  margin: 1em; }

.images {
  width: 90%;
  padding-left: 10%; }

.bottomBit {
  margin: 1em;
  text-align: center; }
  .bottomBit p {
    display: inline;
    font-size: 1.3em; }

.googleMapsButton {
  display: inline;
  background-color: blue;
  color: white;
  border: none;
  font-size: 1.3em;
  margin-left: 0.5em; }

.blogPage {
  height: 30em; }
  .blogPage button {
    margin-right: 2em; }

.formTag {
  text-align: center;
  font-size: 1.5em;
  margin-top: 1em; }

.cForm {
  width: 90%;
  margin: 1em auto;
  padding: 1em;
  font-size: 1.6em;
  overflow: hidden; }
  .cForm input, .cForm textarea {
    width: 100%;
    display: block;
    margin: 1em auto; }
  .cForm button {
    margin-right: 10%;
    float: right; }

.dash {
  text-align: center;
  height: 30em; }
  .dash button {
    background-color: #3879D9;
    color: white;
    font-size: 1.5em;
    margin: 1em;
    padding: 1em;
    border: none; }

.expText {
  font-size: 1.5em;
  margin: 1em 10%; }

.incomingMessage {
  margin: 1em 10%;
  padding: 1em; }
  .incomingMessage div {
    margin: 0.4em; }
  .incomingMessage .tim {
    text-decoration: underline; }

.backC {
  padding: 2em; }

.back {
  float: right; }

footer {
  text-align: center;
  color: white;
  background-color: #3D3D3A; }

.footer {
  padding: 2em 1em; }

/*@media screen and (max-width: 48em){
	#top {
    position:absolute; top:100%;
}
	#wrapper {
    position:relative; 
}
}*/
@media screen and (min-width: 48em) {
  .tagLine {
    font-size: 1.5em;
    width: 100%; }
  .iserve {
    float: right; }
  .cForm {
    width: 60%;
    margin: 1em auto; }
  .slideshow {
    width: 60%; }
  .saywhat {
    height: 12em; }
  .saywhat-right {
    height: 12em; }
  .textblock {
    padding-top: 2em; }
  .ican {
    font-size: 3em;
    color: red;
    padding-top: 1.2em;
    text-align: center;
    font-family: cursive; }
  .logo-text {
    box-sizing: border-box;
    border-radius: 5em;
    margin-left: 33%;
    margin-right: 23%;
    width: 34%; }
  .uvan {
    font-size: 1.2em; } }

.box-shadow--2dp {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.box-shadow--3dp {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12); }

.box-shadow--4dp {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2); }

.box-shadow--6dp {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2); }

.box-shadow--8dp {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2); }

.box-shadow--16dp {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
