body{
	margin: 0;
	margin-top: 3.6em;
}
.friendships{
	color:#3879D9;
}
.for{
	
	color:#7FD4F9;
}
.life{
	color:#3879D9;
}
.dotcom{
	color: grey;
}

#menuButton{
	margin-bottom: 0;
}

nav{
	button{
		background-color: grey;
	}
}
.navbar{
	border-top: 5px solid #3879D9;
}


// ---------------------------Home Page==========================

.photostrip{
	display: none;
	box-sizing: border-box;
	width: 100%;
	border: .3em solid #FDDD9B;
}

.hero{

	background-image: url('../images/06180010a2.jpeg');
	background-attachment: fixed;
	background-position: center; 
	background-size: cover;
	background-repeat: no-repeat;
	.hero-text{
		padding: 5em 0;
		color: white;
		background-color: rgba(0, 0, 0, .5);
		text-align: center;
		font-family: papyrus;
		h2{
			// font-size: 5em;
			padding: 0.6em 0;
		}
	}
}
@media screen and (min-width: 48em){
	.hero{
		.hero-text{
			padding: 10em 0;
			h2{
				font-size: 5em;
			}
		}
	}
}



// .logo-text{
// 	box-sizing:border-box;
// 	border-radius: 5em;
// 	margin-top: -1.8em;
// 	width: 70%;
// 	margin-left: 15%;
// }
.i-logo{
	// height: 10em;
	// overflow: hidden;
	font-family: cursive;
	text-align: center;
	background-color: #3879D9;
	font-size: 3em;
	padding: 1em;

}
.around-all{
	overflow: hidden;
	background-image: url('../images/06180080.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center; 
	padding: 5%;

}
.aroundOne{
	text-align: center;
	color: white;
	background-color: rgba(0, 0, 0, .5);
	box-sizing: border-box;
	width: 95%;
	margin: 2.5%;
	padding: 1em;
	float: left;
	border-radius: 1em;
}

@media screen and (min-width: 48em){
	.aroundOne{
		width: 45%;
		margin: 2.5%;
		padding: 1em;
	}
}




.van{
	padding: 2em 2em;
	margin-top: 3em;
	margin-bottom: 2em;
	// background-color: red;
}

.uvan{
	padding: 4% 2em;
	text-align: center;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
	font-size: 0.9em;
}

.fut{
	background: linear-gradient(to bottom, white, #E6DB74);
	padding-bottom: 3em;
	padding-top: 1em;
}
.future{
	text-align: center;
	font-family: Lucida Sans;
	font-size: 2.5em;

}


// --------------------------AbOUT==================================

.textBlo{

	.bioContainer{
		background: linear-gradient(to bottom, white, #7FD4F9);
		overflow: hidden;
		padding: 2em 10%;
		.staffBio{
			background-color: white;
			border-radius: 0.5em;
			text-align: center;
			width: 90%;
			margin: 0.5em 5%;
			float: left;
			img{
				margin: 0 20%;
				width: 60%;
			}
			.staffName{
				font-size: 1.5em;
			}
			.flip{
				float: right;
				padding-right: 0.5em;
				font-size: 2em;
			}
		}
	}
		
	.paragraph{
		text-align: center;
		width: 90%;
		margin: 0 auto;
		overflow: hidden;
		.section1{
			box-sizing: border-box;
			width: 100%;
			float: left;
			padding: 0.5em;
			h2{
				color: #3879D9;
			}
		}
	}
}

// ----------------------SLIDESHOW============================

.galMain{
	height: 50em;
	text-align: center;
	background: linear-gradient(to bottom, white, #7FD4F9);
	// background-color: #FDDD9B;
	// background-color: #7FD4F9;
	padding: 2em 0 4em 0;
	h1{
		// color: white;
	}
}
.slideshow{
	padding-top: 1em;
	width: 95%;
	margin: 0 auto;
}
.item{
	// max-height: 35em;
	img{
		margin: 0 auto;
		width: 100%;
	}
}

// --------------------------Map==========================

.map-container{
	margin-top: 6em;
}
.mapInfo{
	margin: 1em;
}
.images{
	width: 90%;
	padding-left: 10%;
}

.bottomBit{
	margin: 1em;
	text-align: center;
	p{
		display: inline;
		font-size: 1.3em;
	}
}
.googleMapsButton{
	display: inline;
	background-color: blue;
	color: white;
	border: none;
	font-size: 1.3em;
	margin-left: 0.5em;
}

// ==================================BLOG==========================

.blogPage{
	min-height: 30em;
	overflow: hidden;
	padding-top: 1.5em;
	// height: 30em;
	
	.xc{
		display: block;
		margin: 1em 10%;
		font-size: 1.5em;
		width: 80%;

	}
	.cBox{
		float: left;
		margin-left: 10%;
	}
	#pi2{
		margin: 0 10%;
		
	}
	#pi{

		position: relative;
		height: same-as-width;
		width: 100%;
		
		box-sizing: border-box;
		padding-bottom: 56.25%;
		text-align: center;
		border: 1px solid black;
		background-image: url('');
		background-size: 100%;
		.picky{
			min-width: 20%;
			
			position: absolute;
			top: 45%;
			transform: translateY(-50%);
			transform: translateX(-50%);

			
			border-radius: 2em;
			background-color: #87D6F9;
			color: white;
			border: none;
			padding: 0.5em;

			
		}
	}
	
	.saveBlog{
		display: inline;
		float: right;
		margin-right: 10%;
		min-width: 20%;
		border-radius: 2em;
		background-color: #3879D9;
		color: white;
		border: none;
		padding: 0.5em;
		margin-bottom: 2em;
	}
}
.or{
	overflow: hidden;

	.or1{
		margin-right: 19%;
		float: right;
		margin-bottom: 1em;
	}
	
}
.backT{

	overflow: hidden;
	.backTo{
		float: right;
		margin-right: 10%;
		min-width: 20%;
		border-radius: 2em;
		background-color: #F92772;
		color: white;
		border: none;
		padding: 0.5em;
		margin-bottom: 2em;

	}
}
	
.eachEntry{
	margin: 2% 10%;
	padding: 2%;
	.titleTag{
		font-size: 2em;
	}
	.mesTag{
		// font-size: 1.25em;
	}
	img{
		width: 100%;
		border: 1px solid #3879D9;
	}
}

// ===============================Contact===================

.formTag{
	text-align: center;
	font-size: 1.5em;
	margin-top: 4em;
}
.cForm{
	width: 90%;
	margin: 1em auto;
	padding: 1em;
	font-size: 1.6em;
	overflow: hidden;
	input, textarea{
		width: 100%;
		display: block;
		margin: 1em auto;
	}
	button{
		// margin-right: 10%;
		float: right;
		min-width: 20%;
		border-radius: 2em;
		background-color: #3879D9;
		color: white;
		border: none;
		padding: 0.5em;
		margin-bottom: 2em;

	}
}


// ========================================Dashboard===============================


.dash{
	text-align: center;
	margin-top: 10em;
	height: 30em;
	button{
		background-color: #3879D9;
		color: white;
		font-size: 1.5em;
		margin: 1em;
		padding: 1em;
		border: none;
	}
}

// =================================Receive===================================
.receive-mail{
	margin-top: 7em;
}
.expText{
	font-size: 1.5em;
	margin: 1em 10%;
}
.incomingMessage{
	margin: 1em 10%;
	padding: 1em;
	div{
		margin: 0.4em;
	}
	.tim{
		text-decoration: underline;
	}
}
.backC{
	
	padding: 2em;
}
.back{
	
	float: right;

}



// ---------------------Footer=======================================



footer{
	text-align: center;
	color: white;
	background-color: #3D3D3A;
}
.footer{
	padding:2em 1em;
}
// a{
// 	color: white;
// 	text-decoration: none;

// }

/*@media screen and (max-width: 48em){
	#top {
    position:absolute; top:100%;
}
	#wrapper {
    position:relative; 
}
}*/

@media screen and (min-width: 48em){

	.tagLine{
		font-size: 1.5em;
		width: 100%;
	}
	.iserve{
		float: right;
	}
	.cForm{
	width: 60%;
	margin: 1em auto;
	}
	.slideshow{
		width: 60%;
	}
	.saywhat{
		height:12em;
	}

	.saywhat-right{
		height:12em;
	}
	.textblock{
		padding-top: 2em;
	}
	.ican{
		font-size: 3em;
		color: red;
		padding-top: 1.2em;
		text-align: center;
		font-family: cursive;
	}
	.logo-text{
		box-sizing:border-box;
		border-radius: 5em;
		margin-left: 33%;
		margin-right: 23%;
		width: 34%;
	}
	.uvan{
		font-size: 1.2em;
	}
	.textBlo{
		.bioContainer{
			padding: 2em 10%;
			.staffBio{
				width: 40%;
				margin: 0 5%;
			}

			.staffEmail{
				font-size: 0.8em;
			}
			
		}
		.paragraph{
			.section1{
				width: 33%;
			}
		}
	}
	// .blogPage{
	// 	.cBox{
	// 		margin-left: 20%;
	// 	}

	// 	#pi2{
	// 		margin: 0 20%;
			
	// 	}
	// 	.xc{
	// 		width: 60%;
	// 		margin: 1em 20%;
	// 	}
	// 	.saveBlog{
	// 		margin-right: 20%;
	// 	}
	// }
	.or{
		.or1{
			margin-right: 28%;
		}
	}
	.backT{
		.backTo{
			margin-right: 20%;
		}
	}
// 	.eachEntry{
// 	margin: 2% 20%;
// 		.mesTag{
// 			font-size: 1.25em;
// 		}
// }

}

.box-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
.box-shadow--3dp {
   box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
}
.box-shadow--4dp {
   box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}
.box-shadow--6dp {
   box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
}
.box-shadow--8dp {
   box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}
.box-shadow--16dp {
   box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

