body{
	margin: 0;
}
.friendships{
	color:#3879D9;
}
.for{
	
	color:#7FD4F9;
}
.life{
	color:#3879D9;
}
.dotcom{
	color: grey;
}
.tagLine{
	padding: 0.5em;
	font-family: papyrus;
	font-size: 1.5em;
}

nav{
	button{
		background-color: grey;
	}
}

// ---------------------------Home Page==========================

.photostrip{
	box-sizing:border-box;
	width: 100%;
	border: .3em solid #FDDD9B;
}
.twistyt{
	box-sizing:border-box;
	width: 100%;
	height:6em;
}
.logo{
	box-sizing:border-box;
	margin-top: -2.2em;
}
.logo-text{
	box-sizing:border-box;
	border-radius: 5em;
	margin-left: 33%;
	margin-right: 23%;
	width: 34%;
}
.aroundOne{
	// background-size: cover;
	// overflow: hidden;
}
.learnServe{
	background-color: white;
}
.ican{
	font-size: 3em;
	color: red;
	padding-top: 1em;
	text-align: center;
	font-family: cursive;
}

.textblock{
	text-align: center;
	font-family: futura;
	padding-top: 2em;
	height:12em;
}
.saywhat{
	height:12em;
}

.saywhat-right{
	height:12em;
}

.van{
	padding: 2em 2em;
	margin-top: 3em;
	margin-bottom: 2em;
}

.uvan{
	padding: 4% 2em;
	text-align: center;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
	font-size: 1.2em;
}

.fut{
	background: linear-gradient(to bottom, white, #3D3D3A);
	padding-bottom: 3em;
	padding-top: 1em;
}
.future{
	text-align: center;
	font-family: futura;
	font-size: 2.5em;

}


// --------------------------AbOUT==================================

.textBlo{
	background-image: url('../images/Tigerpaw.jpg');
	background-size: cover;
	.paragraph{
		background-color: rgba(0, 0, 0, .6);
		width: 80%;
		font-size: 1.4em;
		margin: 0 auto 2em auto;
		padding: 1em 2em;
		color: white;
		border-radius: 1em;
	}
}

// ----------------------SLIDESHOW============================

.galMain{
	height: 50em;
	text-align: center;
	background: linear-gradient(to bottom, white, #7FD4F9);
	// background-color: #FDDD9B;
	// background-color: #7FD4F9;
	padding: 2em 0 4em 0;
	h1{
		// color: white;
	}
}
.slideshow{
	padding-top: 1em;
	width: 60%;
	margin: 0 auto;
}
.item{
	// max-height: 35em;
	img{
		margin: 0 auto;
		width: 100%;
	}
}

// --------------------------Map==========================

.mapInfo{
	margin: 1em;
}
.images{
	width: 90%;
	padding-left: 10%;
}

.bottomBit{
	margin: 1em;
	text-align: center;
	p{
		display: inline;
		font-size: 1.3em;
	}
}
.googleMapsButton{
	display: inline;
	background-color: blue;
	color: white;
	border: none;
	font-size: 1.3em;
	margin-left: 0.5em;
}

// ===============================Contact===================

.formTag{
	text-align: center;
	font-size: 1.5em;
	margin-top: 1em;
}
.cForm{
	width: 90%;
	margin: 1em auto;
	padding: 1em;
	font-size: 1.6em;
	overflow: hidden;
	input, textarea{
		width: 100%;
		display: block;
		margin: 1em auto;
	}
	button{
		margin-right: 10%;
		float: right;
	}
}






// ---------------------Footer=======================================



footer{
	text-align: center;
	color: white;
	background-color: #3D3D3A;
}
.footer{
	padding:2em 1em;
}
// a{
// 	color: white;
// 	text-decoration: none;

// }

/*@media screen and (max-width: 48em){
	#top {
    position:absolute; top:100%;
}
	#wrapper {
    position:relative; 
}
}*/

@media screen and (min-width: 48em){
	.iserve{
		float: right;
	}
	.cForm{
	width: 60%;
	margin: 1em auto;
	
}

}

.box-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
.box-shadow--3dp {
   box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
}
.box-shadow--4dp {
   box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}
.box-shadow--6dp {
   box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
}
.box-shadow--8dp {
   box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}
.box-shadow--16dp {
   box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

